/*EXTERNAL: Youtube-Tutorial: "HTML5/CSS3 Tutorial: Responsive Webdesign erstellen // deutsch" https://www.youtube.com/watch?v=dVYdOSSJ_Tk */ 

* { box-sizing:border-box; }

/* Genereller Style */
body {
    background:#DCDCDC;
    font-size:100%;
    margin:0em;
    padding:0em; 
    
    /*EM = Groesse Elternelement. Wenn font-size von Body angepasst wird, wird auch Grosse von allen ems angepasst!! */

}


h1 {
    font-size:2.5em;
    line-height:3.8em;
    font-family:Georgia;
    font-weight:100;
    color:#E2DBDB;
    margin:0em;
}

h2 {
    font-size:1.563em;
    line-height:1.8em;
    font-family:Georgia;
    font-weight:100;
    color:#2F2D2C;
    margin:0em; /* äusserer Abstand */
    padding:1.25em; /* innerer Abstand */
    text-align:left;
}

h2.H2Center{
    text-align:center;
}

p {
    line-height:1.25em;
    font-family:Georgia;
    font-weight:100;
    color:#2F2D2C;
    margin:0em; /* äusserer Abstand */
    padding:1.25em; /* innerer Abstand */
    text-align:justify; /*Blocksatz*/
}

ul { /*Auflistung*/
    margin:0px; /*keine Abstände bei Auflistung*/
    padding:0px;
}

li { /*Listenelemente*/
    list-style:square; /*quadratische Form, keine runden Auflistungspunkte*/
    font-family:Georgia;
    font-weight:100;
    color:#2F2D2C;
    line-height:1.25em;
    margin:0em; /* äusserer Abstand */
    padding:0em; /* innerer Abstand */
    martin:0.313em 0em 0.313em 0em;
}

img {
    height:auto; /*automatische Anpassung*/
    max-width:100% /*so ist das Bild nie verpixelt*/    
}

img.BildCenter{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

a { /*Hyperlink*/
    text-decoration: none;    
}



/* On Top Bar */

#menubar {
    display:block; /*Menübar ist über volle Breite der Webseite zu sehen*/
    background:#FFFFFF;    
}

#menubar ul{
    display:block;
    width:2em;
    padding:0em;
}

#menubar ul li {
    display:inline; /*alle Auflistungselemente werden als eine Reihe aufgeführt und nicht mehr unter einander*/
}

#menubar ul li a.menubutton {
    display:none;
}

/* Header */
header {
    display:block;
    background:#9CD15B;
    text-align:center; /*Schrift zentriert*/
    vertical-align: center;
    height: 200px;
}

header img {
    max-height:200px;   
    max-width: 200px;
    vertical-align: center;    
}

form img {
    max-height:20px;   
    max-width:20px;
    vertical-align: center;    
}

img.BildCenter{
    display:block;    
}

/* Navigation */
nav {
    display:block;
    height:2.5em;
    background:#FFFFFF;
    text-align: center;
}

nav ul {
    display:block;
}

nav ul li {
    display: inline;
    margin:0em 0.188em 0em 0.188em;
}

nav ul li a {
    color:#454040;
    font-size: 1.125em;
    line-height:2.5em;
    padding: 0.563em 0.938em 0.375em 0.983em;
    transition:background 0.2s;
    -webkit-transition:background 0.2s;
}

nav ul li a:hover {
    background:#DBD9D8;
    border-bottom:0.188em solid #006400;
}

nav ul li a.active {
    border-bottom:0.188em solid #006400;    
}


/* content area */
#main {
    display:block;
    width:96%
    max-width:980px;
    margin:1.25em auto; /*auto = linke Seite automatisch */
    padding:0em;
}

#main article {
    display:block;
    width:100%;
    background:#FFFFFF;
    margin:0em;
    padding:0.5em;
    text-align:center;
}

#main article img {
    box-shadow:0px 0px 10px -5p #4C4948;
    
}

#main aside {
    display:inline-block;
    width:30.6%;
    margin-left:3%;
    padding:0em;
    vertical-align:top;
}

#main aside section {
    margin-bottom: 1.563em;
    background:#FFFFFF;
    border-bottom: 0.188em solid #E7590B; /*unterer Rahmen*/
}

#main article h2 {
    padding:1em 1.8em 1em 1.8em;
}

#main aside section ul {
    padding:0em 1.875em 1.25em 2.5em;
}

/* Kontakt Formular*/  
/* EXTERNAL: Google Material Design von https://codepen.io/sevilayha/pen/IdGKH, eigene Änderungen vorgenommen, damit es in mein CSS passt. Valid und Invalid habe ich selber noch ergänzt */
.container 		{ 
  font-family:Roboto;
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFFFFF;
  padding:10px 50px 50px;
}

h2.Contact { 
  text-align:center; 
  margin-bottom:50px; 
}

h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}

.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}




/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#006400;
}

input:focus ~ label, input:invalid ~ label 		{
  top:-20px;
  font-size:14px;
  color:black;
}

input:focus ~ label img, input:invalid ~ label img 		{
    display:none;
}

/* BOTTOM BARS */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#006400; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}



/* HIGHLIGHTER */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS */
@-webkit-keyframes inputHighlighter {
	from { background:#006400; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#006400; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#006400; }
  to 	{ width:0; background:transparent; }
}


/* Footer */
footer{
    display:block;
    background:#2F2C2C;
    text-align:center;
}

footer ul {
    display:block;
    width:100%;
    max-width:980px;
    text-align:left;
    margin:0px auto;
}

footer ul li {
    display:inline;
    font-size:0.8em;
    line-height:2.8em;
    color:#E2DBDB;
    padding:0em 0.625em 0em 0.625em;
}

footer ul li a {
    color:#E2DBDB;  
}

/* Mobile Style */
@media screen and (max-width:800px) {
    body {
        font-size:90%;
    }
}
@media screen and (max-width:600px) {
    #main aside, #main article {
        width:100%;
        display:block;
        margin:0.625em 0em 0.625em 0em;
    }
}

@media screen and (max-width:550px) {
    body {
        font-size:86%;
    }
    #menubar ul li a.menubutton {
        display:block;
    }
    nav {
        display:none;
        height:auto;
    }
    nav ul li {
        display:block;
        margin:0.3em 0em 0.3em 0em;
    }
}